* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #e6b273;
}

#main-heading {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #8d2d2d;
    margin: 30px 30px;
    padding: 8px;
}

.main-list {
    margin-top: 60px;
    text-align: center;
    
}

.list-items {
    padding: 5px;
    font-size: 22px;
    margin: 30px 120px;
}

.links {
    color: #8d2d2d;
    font-family: Helvetica;
    font-size: 20px;

}

/* Styling the recipe pages */

.headings {
    font-weight: bold;
    text-align: left;
    margin: 30px 20px;
    background-color: #8d2d2d;
    padding: 8px 28px;
    
}

.para {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    margin: 30px 50px;
}

#main-image {
    margin-left: 30%;
    margin-right: 30%;
}
